{% extends 'nav.html' %}

{% block title %}Дневник{% endblock %}

<body>
    {% block content %}
        <div class="timetable">
            <h2 class="tt_header">Дневник</h2>
            <table class="diary">
                <thead>
                    <td class="table_cell tt_cell diary_cell">
                        <div class="diary_day">
                            <h3 class="tt_day">Понедельник</h3>
                            <p class="tt_day">Дата</p>
                        </div>
                        <div>
                            <ul>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 1</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 2</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 3</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 4</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                </thead>
                <tbody>
                    <tr>
                    <td class="table_cell tt_cell diary_cell">
                        <div class="diary_day">
                            <h3 class="tt_day">Вторник</h3>
                            <p class="tt_day">Дата</p>
                        </div>
                        <div>
                            <ul>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 1</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 2</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 3</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 4</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <tr>
                    <td class="table_cell tt_cell diary_cell">
                        <div class="diary_day">
                            <h3 class="tt_day">Среда</h3>
                            <p class="tt_day">Дата</p>
                        </div>
                        <div>
                            <ul>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 1</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 2</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 3</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 4</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <td class="table_cell tt_cell diary_cell">
                        <div class="diary_day">
                            <h3 class="tt_day">Четверг</h3>
                            <p class="tt_day">Дата</p>
                        </div>
                        <div>
                            <ul>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 1</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 2</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 3</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 4</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <td class="table_cell tt_cell diary_cell">
                        <div class="diary_day">
                            <h3 class="tt_day">Пятница</h3>
                            <p class="tt_day">Дата</p>
                        </div>
                        <div>
                            <ul>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 1</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 2</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 3</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 4</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                    <tr>
                    <td class="table_cell tt_cell diary_cell">
                        <div class="diary_day">
                            <h3 class="tt_day">Суббота</h3>
                            <p class="tt_day">Дата</p>
                        </div>
                        <div>
                            <ul>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 1</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 2</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 3</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>Предмет 4</p>
                                        <p>Оценка</p>
                                    </div>
                                </li>
                                <li class="tt_subject">
                                    <div class="diary_subject">
                                        <p>...</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endblock %}
</body>
