{% extends 'nav.html' %}

{% block title %}Журнал{% endblock %}
{% load index %}
<body>
    {% block content %}
    <div class="marks">
        <h2 class="tt_header">Оценки</h2>
        <table class="student_marks">
            <thead>
                <tr>
                    <td></td>
                    <td class="table_cell">1 четверть</td>
                    <td class="table_cell">2 четверть</td>
                    <td class="table_cell">3 четверть</td>
                    <td class="table_cell">4 четверть</td>
                    <td class="table_cell">Среднее</td>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                    <tr>
                        <td class="table_cell">{{ subject }}</td>
                        {% if 1_term %}
                            <td class="table_cell">{{ 1_term|index:forloop.counter0 }}</td>
                        {% else %}
                            <td class="table_cell"> - </td>
                        {% endif %}

                        {% if 2_term %}
                            <td class="table_cell">{{ 2_term|index:forloop.counter0 }}</td>
                        {% else %}
                            <td class="table_cell"> - </td>
                        {% endif %}

                        {% if 3_term %}
                            <td class="table_cell">{{ 3_term|index:forloop.counter0 }}</td>
                        {% else %}
                            <td class="table_cell"> - </td>
                        {% endif %}

                        {% if 4_term %}
                            <td class="table_cell">{{ fourth_term|index:forloop.counter0 }}</td>
                            <td class="table_cell">{{ average|index:forloop.counter0 }}</td>
                        {% else %}
                            <td class="table_cell"> - </td>
                            <td class="table_cell"> - </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% endblock %}
</body>
