{% extends "base.html" %}

{% block title %}Страница смены пароля{% endblock %}

<body>
    {% block content %}
        <div class="form_view">
            {% if form.errors %}
                <p>{{ form.errors.error }}</p>
            {% endif %}
            <h2 id="login_header">Смена пароля</h2>
            <form method="post" class="change_password_form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Сменить пароль</button>
            </form>
        </div>
    {% endblock %}
</body>