{% extends 'nav.html' %}

{% block title %}Расписание{% endblock %}

<body>
    {% block content %}
        <div class="timetable">
            <h2 class="tt_header">Расписание</h2>
            <table class="tt_table">
                <tbody>
                    {% for day, timetable in timetables %}
                        <tr>
                            <div>
                                <td class="tt_cell">
                                    <h3 class="tt_day">{{ day }}</h3>
                                    {% for schedule in timetable %}
                                        <div class="tt_lesson">
                                            <div class="tt_subject">
                                                <p>{{ schedule.get_time }}</p>
                                                <p>{{ schedule.subject }}</p>
                                            </div>
                                            <div class="tt_subject">
                                                <p>{{ schedule.study_class }}</p>
                                            </div>
                                            <div class="tt_subject">
                                                <p>Кабинет: {{ schedule.study_room }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </td>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
</body>